<p>tutor-apply works! {{this.index}}</p>
<div class="card" style="width: 25rem;  border: 1px solid black;">
  <div class="card-body">
    <h5 class="card-title">Tutor Application</h5>
    <p class="card-text">Apply to be a tutor</p>
    <a (click)="toggled=!toggled" ><button class="btn btn-success" > Application Form </button></a>
    <div *ngIf="toggled" class="container" style="width: 18rem;  border: 1px solid black;">
      <h2>Application</h2>
      <div>
          <div>
            <form [formGroup]="appForm">
                <label>About: </label>
                <input type="text" id="about" name="about" formControlName="about">
              </form>
          </div>
          <div><button (click)="addDegree()">+ Add another degree</button></div>
          <div *ngIf="degreetoggled">
            <form [formGroup]="appForm">
              <label>Degree: </label>
              <input type="text" formControlName="degreeTitle" class="form-control">
            </form>
            <form [formGroup]="appForm">
              <label>Details: </label>
              <input type="text" formControlName="degreeDetails" class="form-control">
            </form>
            <button (click)="submitDegree()">Submit</button>
          </div>
          <div>
            <label>Topics</label>
            <button (click)="addTopic()">+ Add another topic</button>

            <div *ngIf="topictoggled">
              <form [formGroup]="appForm">
                <input type="text" formControlName="topics" class="form-control" >
                <button (click)="submitTopic()">Submit</button>
              </form>
            </div>
          </div>
          <a (click)="toSubmit()" ><button class="btn btn-primary" > Submit </button></a>
      </div>

  </div>
  </div>
</div>
