<p>user-list works!</p>
<div class="container" style="width: 18rem;  border: 1px solid black;">
  <h2>Users</h2>
  <ul class="list">
      <li> *ngFor="let user of list"
          [class.selected]="user === selectedUser"
          <!-- (click)="onSelect(user)"> -->
          <span class="badge">Name: </span>
      </li>
  </ul>

  <div *ngIf="selectedUser">
      <h2>Name Details</h2>
      <div><span>: </span></div>
      <div><span>: </span></div>
      <div><span>: </span></div>
      <div><span>: </span></div>
  </div>

</div>
